<%- include('partials/header') -%>
<body>
    <h1>Sample History</h1>

    <table>
  <thead>
    <tr>
      <th>Well Name</th>
      <th>Date Sampled</th>
      <th>Sampler</th>
      <th>Total Volume Pumped</th>
    </tr>
  </thead>
  <tbody>
    <% eventList.forEach((sampleEvent) => { %>
      <tr>
        <td><%= sampleEvent.wellName %></td>
        <td><%= sampleEvent.dateSampled %></td>
        <td><%= sampleEvent.sampler %></td>
        <td><%= sampleEvent.totalizerTotal %></td>
      </tr>
    <% }); %>
  </tbody>
</table>

    <ul>
        <a href="/profile" class="col-1 btn btn-primary">Back to Profile</a>
    </ul>
</body>
<%- include('partials/footer') -%>